env/xml-config/src/main/resources/configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://eobjects.org/analyzerbeans/configuration/1.0"
	xmlns:ab="http://eobjects.org/analyzerbeans/configuration/1.0"
	elementFormDefault="qualified">

	<element name="configuration">
		<complexType>
			<sequence>
				<element name="configuration-metadata" type="ab:configurationMetadataType"
					minOccurs="0" maxOccurs="1" />
				<element name="datastore-catalog" type="ab:datastoreCatalogType"
					minOccurs="1" maxOccurs="1">
					<annotation>
						<documentation>
							Defines the catalog of datastores that are usable
							as input sources for the analysis jobs.
						</documentation>
					</annotation>
				</element>
				<element name="reference-data-catalog" type="ab:referenceDataCatalogType"
					minOccurs="0" maxOccurs="1">
					<annotation>
						<documentation>
							Defines the catalog of reference data, containing
							Dictionaries, Synonyms
							etc.
						</documentation>
					</annotation>
				</element>
				<choice minOccurs="0" maxOccurs="1">
					<element name="multithreaded-taskrunner" type="ab:multithreadedTaskrunnerType"
						minOccurs="1" maxOccurs="1" />
					<element name="singlethreaded-taskrunner" type="ab:singlethreadedTaskrunnerType"
						minOccurs="1" maxOccurs="1" />
					<element name="custom-taskrunner" type="ab:customElementType"
						minOccurs="1" maxOccurs="1" />
				</choice>
				<element name="storage-provider" type="ab:storageProviderType"
					minOccurs="0" maxOccurs="1" />
				<element name="classpath-scanner" minOccurs="0" maxOccurs="1"
					type="ab:classpathScannerType">
					<annotation>
						<documentation>
							Defines which java packages should be scanned for
							components to use in AnalyzerBeans.
						</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>

	<complexType name="storageProviderType">
		<choice minOccurs="1" maxOccurs="1">
			<element name="combined" type="ab:combinedStorageProviderType"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						Select this storage provider to use a storage
						provider that combines different technologies based on the
						storage
						entity type. This is the recommended storage provider
						for typical
						data profiling needs as it allows to combine
						in-memory row
						annotations (for previewing in profiling results)
						with database
						backed collections (for intermediary results).
					</documentation>
				</annotation>
			</element>
			<element name="in-memory" type="ab:inMemoryStorageProviderType"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						Select this storage provider to store staging data
						and intermediary results in memory. This is by far the best
						performing storage provider but it also brings in the risk of
						running out of memory for very large jobs.  
					</documentation>
				</annotation>
			</element>
			<element name="h2-database" type="ab:h2StorageProviderType"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						This storage provider uses the H2 database engine
						as
						a backing store for intermediary results.
					</documentation>
				</annotation>
			</element>
			<element name="hsqldb" type="ab:hsqldbStorageProviderType"
				minOccurs="1" maxOccurs="1" />
			<element name="berkeley-db" type="ab:berkeleyDbStorageProviderType"
				minOccurs="1" maxOccurs="1" />
			<element name="custom-storage-provider" type="ab:customElementType"
				minOccurs="1" maxOccurs="1" />
		</choice>
	</complexType>

	<complexType name="configurationMetadataType">
		<sequence>
			<element name="configuration-name" type="normalizedString"
				minOccurs="0" maxOccurs="1" />
			<element name="configuration-description" type="normalizedString"
				minOccurs="0" maxOccurs="1" />
			<element name="configuration-version" type="normalizedString"
				minOccurs="0" maxOccurs="1" />
			<element name="author" type="normalizedString" minOccurs="0"
				maxOccurs="1" />
			<element name="created-date" type="date" minOccurs="0"
				maxOccurs="1" />
			<element name="updated-date" type="date" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="classpathScannerType">
		<sequence>
			<element name="package" minOccurs="1" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="recursive" type="boolean" use="optional" />
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="datastoreCatalogType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="jdbc-datastore" type="ab:jdbcDatastoreType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Defines a datastore based on a JDBC database
						connection.
					</documentation>
				</annotation>
			</element>
			<element name="access-datastore" type="ab:accessDatastoreType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Defines a datastore based on a MS Access database
						file.
					</documentation>
				</annotation>
			</element>
			<element name="csv-datastore" type="ab:csvDatastoreType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Defines a datastore based on a Comma-separated file.
					</documentation>
				</annotation>
			</element>
			<element name="mongodb-datastore" type="ab:mongodbDatastoreType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Defines a datastore based on a MongoDB database.
					</documentation>
				</annotation>
			</element>
			<element name="fixed-width-datastore" type="ab:fixedWidthDatastoreType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Defines a datastore based on a fixed width value
						file.
					</documentation>
				</annotation>
			</element>
			<element name="sas-datastore" type="ab:sasDatastoreType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Defines a datastore based on a directory of SAS data
						sets.
					</documentation>
				</annotation>
			</element>
			<element name="excel-datastore" type="ab:excelDatastoreType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Defines a datastore based on a MS Excel spreadsheet
						file.
					</documentation>
				</annotation>
			</element>
			<element name="dbase-datastore" type="ab:dbaseDatastoreType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Defines a datastore based on a dBase database file.
					</documentation>
				</annotation>
			</element>
			<element name="odb-datastore" type="ab:openOfficeDatabaseDatastoreType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Defines a datastore based on a OpenOffice.org
						database file.
					</documentation>
				</annotation>
			</element>
			<element name="xml-datastore" type="ab:xmlDatastoreType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Defines a datastore based on an XML file.
					</documentation>
				</annotation>
			</element>
			<element name="custom-datastore" type="ab:customElementType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Defines a custom datastore based on a class
						implementing the Datastore interface.
					</documentation>
				</annotation>
			</element>
			<element name="composite-datastore" type="ab:compositeDatastoreType"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Defines a composite datastore, which allows to
						virtually treat several datastores as a single datastore.
					</documentation>
				</annotation>
			</element>
		</choice>
	</complexType>

	<complexType name="jdbcDatastoreType">
		<choice>
			<sequence>
				<element name="url" minOccurs="1" maxOccurs="1" type="string" />
				<element name="driver" minOccurs="1" maxOccurs="1" type="string" />
				<element name="username" minOccurs="0" maxOccurs="1" type="string" />
				<element name="password" minOccurs="0" maxOccurs="1" type="string" />
			</sequence>
			<element name="datasource-jndi-url" minOccurs="0" maxOccurs="1"
				type="string" />
		</choice>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="csvDatastoreType">
		<sequence>
			<element name="filename" minOccurs="1" maxOccurs="1" type="string" />
			<element name="quote-char" minOccurs="0" maxOccurs="1" type="token" />
			<element name="separator-char" minOccurs="0" maxOccurs="1"
				type="token" />
			<element name="encoding" minOccurs="0" maxOccurs="1" type="token" />
			<element name="failOnInconsistencies" minOccurs="0"
				maxOccurs="1" type="boolean" />
			<element name="headerLineNumber" minOccurs="0" maxOccurs="1"
				type="int" default="0">
				<annotation>
					<documentation>
						The index (0-based) of the header line number. If no
						header line is present, use -1.
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="mongodbDatastoreType">
		<sequence>
			<element name="hostname" minOccurs="0" maxOccurs="1" type="string" />
			<element name="port" minOccurs="0" maxOccurs="1" type="int" />
			<element name="database-name" minOccurs="1" maxOccurs="1"
				type="string" />
			<element name="username" minOccurs="0" maxOccurs="1" type="string" />
			<element name="password" minOccurs="0" maxOccurs="1" type="string" />
			<element name="table-def" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="collection" minOccurs="1" maxOccurs="1"
							type="string" />
						<element name="property" minOccurs="1" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element name="name" minOccurs="1" maxOccurs="1" type="string" />
									<element name="type" minOccurs="0" maxOccurs="1" type="string" />
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="fixedWidthDatastoreType">
		<sequence>
			<element name="filename" minOccurs="1" maxOccurs="1" type="string" />
			<choice>
				<element name="fixed-value-width" minOccurs="1" maxOccurs="1"
					type="int" default="10" />
				<sequence>
					<element name="value-width" minOccurs="1" maxOccurs="unbounded"
						type="int" default="5" />
				</sequence>
			</choice>
			<element name="encoding" minOccurs="0" maxOccurs="1" type="token" />
			<element name="failOnInconsistencies" minOccurs="0"
				maxOccurs="1" type="boolean" />
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="sasDatastoreType">
		<sequence>
			<element name="directory" minOccurs="1" maxOccurs="1" type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="excelDatastoreType">
		<sequence>
			<element name="filename" minOccurs="1" maxOccurs="1" type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="xmlDatastoreType">
		<sequence>
			<element name="filename" minOccurs="1" maxOccurs="1" type="string" />
			<element name="table-def" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="rowXpath" minOccurs="1" maxOccurs="1" type="string" />
						<element name="valueXpath" minOccurs="1" maxOccurs="unbounded"
							type="string" />
					</sequence>
				</complexType>
			</element>
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="accessDatastoreType">
		<sequence>
			<element name="filename" minOccurs="1" maxOccurs="1" type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="compositeDatastoreType">
		<sequence>
			<element name="datastore-name" minOccurs="1" maxOccurs="unbounded"
				type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="dbaseDatastoreType">
		<sequence>
			<element name="filename" minOccurs="1" maxOccurs="1" type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="openOfficeDatabaseDatastoreType">
		<sequence>
			<element name="filename" minOccurs="1" maxOccurs="1" type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="referenceDataCatalogType">
		<sequence>
			<element name="dictionaries" minOccurs="0" maxOccurs="1">
				<complexType>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="text-file-dictionary" minOccurs="0"
							maxOccurs="unbounded" type="ab:textFileDictionaryType" />
						<element name="value-list-dictionary" minOccurs="0"
							maxOccurs="unbounded" type="ab:valueListDictionaryType" />
						<element name="datastore-dictionary" minOccurs="0"
							maxOccurs="unbounded" type="ab:datastoreDictionaryType" />
						<element name="custom-dictionary" minOccurs="0" maxOccurs="unbounded"
							type="ab:customElementType" />
					</choice>
				</complexType>
			</element>

			<element name="synonym-catalogs" minOccurs="0" maxOccurs="1">
				<complexType>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="text-file-synonym-catalog" minOccurs="0"
							maxOccurs="unbounded" type="ab:textFileSynonymCatalogType" />
						<element name="datastore-synonym-catalog" minOccurs="0"
							maxOccurs="unbounded" type="ab:datastoreSynonymCatalogType" />
						<element name="custom-synonym-catalog" minOccurs="0"
							maxOccurs="unbounded" type="ab:customElementType" />
					</choice>
				</complexType>
			</element>

			<element name="string-patterns" minOccurs="0" maxOccurs="1">
				<complexType>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="regex-pattern" minOccurs="0" maxOccurs="unbounded"
							type="ab:regexPatternType" />
						<element name="simple-pattern" minOccurs="0" maxOccurs="unbounded"
							type="ab:simplePatternType" />
					</choice>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="regexPatternType">
		<sequence>
			<element name="expression" minOccurs="1" maxOccurs="1" type="string" />
			<element name="match-entire-string" minOccurs="1" maxOccurs="1"
				type="boolean">
				<annotation>
					<documentation>
						Defines whether the regex matcher should match the
						whole string or if just a subsequence match is sufficient.
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="simplePatternType">
		<sequence>
			<element name="expression" minOccurs="1" maxOccurs="1" type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="textFileSynonymCatalogType">
		<sequence>
			<element name="filename" minOccurs="1" maxOccurs="1" type="string" />
			<element name="encoding" minOccurs="0" maxOccurs="1" type="token" />
			<element name="case-sensitive" minOccurs="0" maxOccurs="1"
				type="boolean" />
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="datastoreSynonymCatalogType">
		<sequence>
			<element name="datastore-name" minOccurs="1" maxOccurs="1"
				type="string" />
			<element name="master-term-column-path" minOccurs="1"
				maxOccurs="1" type="string" />
			<element name="synonym-column-path" minOccurs="1" maxOccurs="unbounded"
				type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="textFileDictionaryType">
		<sequence>
			<element name="filename" minOccurs="1" maxOccurs="1" type="string" />
			<element name="encoding" minOccurs="0" maxOccurs="1" type="token" />
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="valueListDictionaryType">
		<sequence>
			<element name="value" minOccurs="1" maxOccurs="unbounded"
				type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="datastoreDictionaryType">
		<sequence>
			<element name="datastore-name" minOccurs="1" maxOccurs="1"
				type="string" />
			<element name="column-path" minOccurs="1" maxOccurs="1" type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
	</complexType>

	<complexType name="inMemoryStorageProviderType">
		<attribute name="max-rows-threshold" type="int" use="optional"
			default="1000">
			<annotation>
				<documentation>
					Sets a threshold upon the number of annotated rows to
					store in memory. Any additional rows will be discarded, although
					the counter will still handle them correctly.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="hsqldbStorageProviderType">
		<sequence>
			<element name="temp-directory" minOccurs="0" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>
						Sets the path for the directory to use for on-disk
						storage. This is optional as Hsqldb will otherwise automatically
						assign a temporary directory for the purpose.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="h2StorageProviderType">
		<sequence>
			<element name="temp-directory" minOccurs="0" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>
						Sets the path for the directory to use for on-disk
						storage. This is optional as H2 will otherwise
						automatically assign
						a temporary directory for the purpose.
				</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="combinedStorageProviderType">
		<sequence>
			<element name="collections-storage" minOccurs="1" maxOccurs="1"
				type="ab:storageProviderType" />
			<element name="row-annotation-storage" minOccurs="1"
				maxOccurs="1" type="ab:storageProviderType" />
		</sequence>
	</complexType>

	<complexType name="berkeleyDbStorageProviderType">
		<sequence>
			<element name="clean-directory-on-startup" type="boolean"
				minOccurs="0" maxOccurs="1" default="false" />
		</sequence>
	</complexType>

	<complexType name="multithreadedTaskrunnerType">
		<attribute name="max-threads" type="short" use="optional">
			<annotation>
				<documentation>
					Sets the maximum available number of threads that the
					thread pool may assign. Don't set this value lower than 5 as it may
					cause serious performance penalties from threads waiting on each
					other.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="singlethreadedTaskrunnerType">
	</complexType>

	<complexType name="customElementType">
		<sequence>
			<element name="property" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Adds a property to this custom type. Properties are
						mapped to fields in the corresponding class that are annotated
						with the @Configured annotation.
				</documentation>
				</annotation>
				<complexType>
					<attribute name="name" use="required" type="string" />
					<attribute name="value" use="required" type="string" />
				</complexType>
			</element>
		</sequence>
		<attribute name="class-name" type="string" use="required">
			<annotation>
				<documentation>
					The java class name of this custom type.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

</schema>