src/main/resources/configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://eobjects.org/analyzerbeans/configuration/1.0"
	xmlns:ab="http://eobjects.org/analyzerbeans/configuration/1.0"
	elementFormDefault="qualified">

	<element name="configuration">
		<complexType>
			<sequence>
				<element name="configuration-metadata" type="ab:configurationMetadataType"
					minOccurs="0" maxOccurs="1" />
				<element name="datastore-catalog" type="ab:datastoreCatalogType"
					minOccurs="1" maxOccurs="1">
					<annotation>
						<documentation>
							Defines the catalog of datastores that are usable
							as input sources for the analysis jobs.
						</documentation>
					</annotation>
				</element>
				<element name="reference-data-catalog" type="ab:referenceDataCatalogType"
					minOccurs="0" maxOccurs="1">
					<annotation>
						<documentation>
							Defines the catalog of reference data, containing
							Dictionaries, Synonyms
							etc.
						</documentation>
					</annotation>
				</element>
				<choice minOccurs="0" maxOccurs="1">
					<element name="multithreaded-taskrunner" type="ab:multithreadedTaskrunnerType"
						minOccurs="1" maxOccurs="1" />
					<element name="singlethreaded-taskrunner" type="ab:singlethreadedTaskrunnerType"
						minOccurs="1" maxOccurs="1" />
					<element name="custom-taskrunner" type="ab:customElementType"
						minOccurs="1" maxOccurs="1" />
				</choice>
				<choice minOccurs="0" maxOccurs="1">
					<element name="in-memory-storage-provider" type="ab:inMemoryStorageProviderType"
						minOccurs="1" maxOccurs="1">
						<annotation>
							<documentation>
								Select this storage provider to store staging data
								and intermediary results in memory. This is by far the best
								performing storage provider but it also brings in the risk of
								running out of memory for very large jobs.  
							</documentation>
						</annotation>
					</element>
					<element name="hsqldb-storage-provider" type="ab:hsqldbStorageProviderType"
						minOccurs="1" maxOccurs="1" />
					<element name="h2-database-storage-provider" type="ab:h2StorageProviderType"
						minOccurs="1" maxOccurs="1" />
					<element name="berkeley-db-storage-provider" type="ab:berkeleyDbStorageProviderType"
						minOccurs="1" maxOccurs="1" />
					<element name="custom-storage-provider" type="ab:customElementType"
						minOccurs="1" maxOccurs="1" />
				</choice>
				<element name="classpath-scanner" minOccurs="0" maxOccurs="1"
					type="ab:classpathScannerType">
					<annotation>
						<documentation>
							Defines which java packages should be scanned for
							components to use in AnalyzerBeans.
						</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>

	<complexType name="configurationMetadataType">
		<sequence>
			<element name="configuration-name" type="normalizedString"
				minOccurs="0" maxOccurs="1" />
			<element name="configuration-description" type="normalizedString"
				minOccurs="0" maxOccurs="1" />
			<element name="configuration-version" type="normalizedString"
				minOccurs="0" maxOccurs="1" />
			<element name="author" type="normalizedString" minOccurs="0"
				maxOccurs="1" />
			<element name="created-date" type="date" minOccurs="0"
				maxOccurs="1" />
			<element name="updated-date" type="date" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="classpathScannerType">
		<sequence>
			<element name="package" minOccurs="1" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="recursive" type="boolean" use="optional" />
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="datastoreCatalogType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="jdbc-datastore" type="ab:jdbcDatastoreType"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="access-datastore" type="ab:accessDatastoreType"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="csv-datastore" type="ab:csvDatastoreType"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="excel-datastore" type="ab:excelDatastoreType"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="dbase-datastore" type="ab:dbaseDatastoreType"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="odb-datastore" type="ab:openOfficeDatabaseDatastoreType"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="custom-datastore" type="ab:customElementType"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="composite-datastore" type="ab:compositeDatastoreType"
				minOccurs="0" maxOccurs="unbounded" />
		</choice>
	</complexType>

	<complexType name="jdbcDatastoreType">
		<choice>
			<sequence>
				<element name="url" minOccurs="1" maxOccurs="1" type="string" />
				<element name="driver" minOccurs="1" maxOccurs="1" type="string" />
				<element name="username" minOccurs="0" maxOccurs="1" type="string" />
				<element name="password" minOccurs="0" maxOccurs="1" type="string" />
			</sequence>
			<element name="datasource-jndi-url" minOccurs="0" maxOccurs="1"
				type="string" />
		</choice>
		<attribute name="name" type="string" use="required" />
	</complexType>

	<complexType name="csvDatastoreType">
		<sequence>
			<element name="filename" minOccurs="1" maxOccurs="1" type="string" />
			<element name="quote-char" minOccurs="0" maxOccurs="1" type="token" />
			<element name="separator-char" minOccurs="0" maxOccurs="1"
				type="token" />
			<element name="encoding" minOccurs="0" maxOccurs="1" type="token" />
		</sequence>
		<attribute name="name" type="string" use="required" />
	</complexType>

	<complexType name="excelDatastoreType">
		<sequence>
			<element name="filename" minOccurs="1" maxOccurs="1" type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
	</complexType>

	<complexType name="accessDatastoreType">
		<sequence>
			<element name="filename" minOccurs="1" maxOccurs="1" type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
	</complexType>

	<complexType name="compositeDatastoreType">
		<sequence>
			<element name="datastore-name" minOccurs="1" maxOccurs="unbounded"
				type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
	</complexType>

	<complexType name="dbaseDatastoreType">
		<sequence>
			<element name="filename" minOccurs="1" maxOccurs="1" type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
	</complexType>

	<complexType name="openOfficeDatabaseDatastoreType">
		<sequence>
			<element name="filename" minOccurs="1" maxOccurs="1" type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
	</complexType>

	<complexType name="referenceDataCatalogType">
		<sequence>
			<element name="dictionaries" minOccurs="0" maxOccurs="1">
				<complexType>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="text-file-dictionary" minOccurs="0"
							maxOccurs="unbounded" type="ab:textFileDictionaryType" />
						<element name="value-list-dictionary" minOccurs="0"
							maxOccurs="unbounded" type="ab:valueListDictionaryType" />
						<element name="datastore-dictionary" minOccurs="0"
							maxOccurs="unbounded" type="ab:datastoreDictionaryType" />
						<element name="custom-dictionary" minOccurs="0" maxOccurs="unbounded"
							type="ab:customElementType" />
					</choice>
				</complexType>
			</element>

			<element name="synonym-catalogs" minOccurs="0" maxOccurs="1">
				<complexType>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="text-file-synonym-catalog" minOccurs="0"
							maxOccurs="unbounded" type="ab:textFileSynonymCatalogType" />
						<element name="custom-synonym-catalog" minOccurs="0"
							maxOccurs="unbounded" type="ab:customElementType" />
					</choice>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="textFileSynonymCatalogType">
		<sequence>
			<element name="filename" minOccurs="1" maxOccurs="1" type="string" />
			<element name="encoding" minOccurs="0" maxOccurs="1" type="token" />
			<element name="case-sensitive" minOccurs="0" maxOccurs="1"
				type="boolean" />
		</sequence>
		<attribute name="name" type="string" use="required" />
	</complexType>

	<complexType name="textFileDictionaryType">
		<sequence>
			<element name="filename" minOccurs="1" maxOccurs="1" type="string" />
			<element name="encoding" minOccurs="0" maxOccurs="1" type="token" />
		</sequence>
		<attribute name="name" type="string" use="required" />
	</complexType>

	<complexType name="valueListDictionaryType">
		<sequence>
			<element name="value" minOccurs="1" maxOccurs="unbounded"
				type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
	</complexType>

	<complexType name="datastoreDictionaryType">
		<sequence>
			<element name="datastore-name" minOccurs="1" maxOccurs="1"
				type="string" />
			<element name="column-path" minOccurs="1" maxOccurs="1" type="string" />
		</sequence>
		<attribute name="name" type="string" use="required" />
	</complexType>

	<complexType name="inMemoryStorageProviderType" />

	<complexType name="hsqldbStorageProviderType">
		<sequence>
			<element name="temp-directory" minOccurs="0" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>
						Sets the path for the directory to use for on-disk
						storage. This is optional as Hsqldb will otherwise automatically
						assign a temporary directory for the purpose.
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="in-memory-threshold" type="int" use="optional">
			<annotation>
				<documentation>
					Sets a threshold upon the number of rows to store in
					memory before on-disk storage will be used. Setting a high
					threshold will typically increase performance but also memory
					consumption.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="h2StorageProviderType">
		<sequence>
			<element name="temp-directory" minOccurs="0" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>
						Sets the path for the directory to use for on-disk
						storage. This is
						optional as H2 will otherwise automatically assign
						a temporary
						directory for the purpose.
				</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="in-memory-threshold" type="int" use="optional">
			<annotation>
				<documentation>
					Sets a threshold upon the number of rows to store in
					memory before on-disk storage will be used. Setting a high
					threshold will typically increase performance but also memory
					consumption.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="berkeleyDbStorageProviderType" />

	<complexType name="multithreadedTaskrunnerType">
		<attribute name="max-threads" type="short" use="optional">
			<annotation>
				<documentation>
					Sets the maximum available number of threads that the
					thread pool may assign. Don't set this value lower than 5 as it may
					cause serious performance penalties from threads waiting on each
					other.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="singlethreadedTaskrunnerType">
	</complexType>

	<complexType name="customElementType">
		<sequence>
			<element name="property" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Adds a property to this custom type. Properties are
						mapped to fields in the corresponding class that are annotated
						with the @Configured annotation.
				</documentation>
				</annotation>
				<complexType>
					<attribute name="name" use="required" type="string" />
					<attribute name="value" use="required" type="string" />
				</complexType>
			</element>
		</sequence>
		<attribute name="class-name" type="string" use="required">
			<annotation>
				<documentation>
					The java class name of this custom type.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

</schema>